body{ 
    background-color: #dcf8e4;
    font-size: 2rem;
    font-family:'Times New Roman', Times, serif;
    line-height: 60px;
    justify-content: center;
    text-align: center;
    }

#texto1{
        color: #0a0a0a;
        font-family: 'Times New Roman', Times, serif;
        font-size: 45px;
        text-align: center;
        justify-content: center;         
    }

#texto2{
        color: #0a0a0a;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        justify-content: center;         
    }

#ESAP{
    color: #eaee09;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    text-align: center;    
}

#udistrital{
    color: #62026b;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    text-align: center;    
}
